audit=false
fund=false
update-notifier=false
save-exact=true
fetch-retries=5
lockfile-version=3
loglevel=verbose

engine-strict=true
strict-peer-deps=true

strict-ssl=false
always-auth=true

shamefully-hoist=true
node-linker=hoisted
